@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("");
body{
    font-family: 'Inter', sans-serif;
    background-color: #212121;
    color: #fff;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.small-stripe{
    width: 186px;
    height: 0px;
    color: #fff;
    fill: #fff;
    border: 1px solid #fff;
}

h1{
    font-size: 96px;
}

h2{
    width: 277px;
    height: 24px;
    left: 114px;
    top: 320px;

    font-family: 'White Rabbit';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

h3{
    width: 382px;
    height: 90px;
    left: 114px;
    top: 424px;

    font-family: 'White Rabbit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 0.05em;
}

.text-on-image{
    position: absolute;
    margin-top: 12%;
    margin-left: 112px;
}

.banner{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /*background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 60.11%), url(..//img/DORK.png);*/
    object-fit: cover;
}

.banner-img{
    position: relative;
    width: auto;
    height: 100vh;
    object-fit: cover;
}

.icons-container{
    display: flex;
    gap: 27px;
}

.container{
    display: flex;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}


.block-1{
    margin-top: 156px;
    color: #8E88C1;
}
.stripe{
    width: 1200px;
    border: 1px solid #8E88C1;
}
.block-1 .wrapper{
    margin-top: 56px;
    gap: 32px;
}
.status{
    border: 2px solid #8E88C1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 210px;
    height: 210px;
    padding-bottom: 16px
}

.status b, .status p{
    font-size: 24px;
}

.tags{
    margin-top: 112px;
    font-size: 24px;
}

.content{
    margin-top: 40px;
}

.tags p{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 32px;
}
.tags .container{
    margin-top: 0px;
    gap: 20px;
}

.tag-clickable, .tag{
    border: #8E88C1 solid 2px;
    padding: 5px 16px 5px 16px;
    border-radius: 32px;
    font-weight: bold;
}

.tag-clickable{
    background-color: #2F2F2F;
}

.block-2{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-2 h2{
    text-align: center;
    font-weight: bold;
}

.block-2 img{
    position: absolute;
}

.backpad{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px;
    background-color: #131313;
    border-radius: 32px;
}

.tos{
    border-radius: 32px;
    width: 678px;
    height: 46px;
    text-align: left;
    padding-left: 25px;
    font-size: 24px;
    background-color: transparent;
    border: #8E88C1 2px solid;
    color: #8E88C1;
}

*{
    border: 1px solid coral;
}